{% extends 'admin_home.html' %}
{% block content %}
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">sl</th>
      <th scope="col">user</th>
      <th scope="col">present days</th>
      <th scope="col">amount</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">1</th>
      <td>{{i.user}}</td>
      <td>{{i.present_days}}</td>
        <td>{{i.amount}}</td>
        <td><input type="submit" value="pay"></td>
    </tr>

        {% endfor %}
  </tbody>
</table>

{% endblock %}